<script setup>
import { ref } from 'vue'
import { loadScript, unloadScript } from 'vue-plugin-load-script'
</script>

<script>
import Multiselect from '@vueform/multiselect'
import { getAuth, signInAnonymously } from 'firebase/auth'
import { collection, doc, getDocs, getFirestore, query, setDoc, where } from 'firebase/firestore'
import { useToast } from 'vue-toastification'

const toast = useToast()

// NOTE: Scripts
const relayScriptUrl = 'https://one.relayx.io/relayone.js'
const runScriptUrl = 'https://unpkg.com/run-sdk'
const bsvScriptUrl = 'https://unpkg.com/bsv@1.5.6'

// NOTE: Contracts
const gopnikContractId = '1ba1080086ca6624851e1fbff18d903047f2b75d3a9ffe5cc8bf49ed0fdb36a0_o2'
const preOrderContractId = 'f713af776e1dd115c614819bd22a4aba97eb0f642280c9a6d8a9b9515e45be77_o2'

const paymail = ref(null)
const loading = ref(false)
const gopnikz = ref(null)
const preorders = ref(null)
const gopnikOptions = ref([])
const preorderOptions = ref([])
const currentGop = ref(null)
const currentPreorder = ref(null)
const gopSelected = ref(false)
const preorderSelected = ref(false)
const confirmedPreorders = ref([])

const getConfirmedPreorders = async() => {
  const db = getFirestore()

  const preordersRef = collection(db, 'gopnik-preorders')

  const q = query(preordersRef, where('paymail', '==', paymail.value))

  const querySnapshot = await getDocs(q)
  querySnapshot.forEach((doc) => {
    const docData = doc.data()
    // NOTE: Add every confirmed pre-order
    confirmedPreorders.value.push(docData)
    // NOTE: Remove the from the preorder list
    const preorderRemoveIndex = preorderOptions.value.map(preorder => preorder.value).indexOf(docData.preorder.value)
    ~preorderRemoveIndex && preorderOptions.value.splice(preorderRemoveIndex, 1)
    // NOTE: Remove the from the gopnikz list
    const gopRemoveIndex = gopnikOptions.value.map(preorder => preorder.value).indexOf(docData.gopnik.value)
    ~gopRemoveIndex && gopnikOptions.value.splice(gopRemoveIndex, 1)
  })
}

async function confirmPreorder() {
  const db = getFirestore()

  await setDoc(doc(db, 'gopnik-preorders', currentPreorder.value.name), {
    paymail: paymail.value,
    gopnik: currentGop.value,
    preorder: currentPreorder.value,
  })

  this.gopSelected = false
  this.preorderSelected = false
  this.currentGop.value = null
  this.currentProerder.value = null

  getConfirmedPreorders()
}

const gopUrl = (gopBerryTxId) => {
  return `https://berry.relayx.com/${gopBerryTxId}`
}

const getPreorderOptions = () => {
  preorders.value.forEach((preorder) => {
    preorderOptions.value.push({
      value: preorder.props.no,
      name: `Preorder # ${preorder.props.no}`,
      image: gopUrl(preorder.berry.txid),
    })
  })
}

const getGopnikOptions = () => {
  gopnikz.value.forEach((gopnik) => {
    gopnikOptions.value.push({
      value: gopnik.props.no,
      name: `Gopnik # ${gopnik.props.no}`,
      image: gopUrl(gopnik.berry.txid),
    })
  })
}

const setJigs = async(ownerAddress) => {
  loading.value = true
  if (!ownerAddress)
    return

  const walletJSON = await fetch(
    `https://staging-backend.relayx.com/api/user/balance2/${ownerAddress}`,
  )
  const response_data = await walletJSON.json()
  const collectibles = response_data.data.collectibles
  const balances = response_data.data.balances
  // NOTE: Set OG Gopnikz
  const ogGops = collectibles.filter(
    collectible =>
      collectible.origin
      === gopnikContractId,
  )
  gopnikz.value = ogGops.sort((a, b) => (a.props.no > b.props.no) ? 1 : -1)
  getGopnikOptions()
  // NOTE: Set Pre-orders
  const preordersInWallet = collectibles.filter(
    collectible =>
      collectible.origin
      === preOrderContractId,
  )
  preorders.value = preordersInWallet.sort((a, b) => (a.props.no > b.props.no) ? 1 : -1)

  getPreorderOptions()
  loading.value = false
  getConfirmedPreorders()
}

const getRunOwner = async() => {
  const ownerResponse = await relayone.alpha.run.getOwner()
  const run = new Run({
    wallet: {
      ...relayone.alpha.run,
      owner() {
        return ownerResponse
      },
    },
  })
  localStorage.setItem('owner', ownerResponse)
  setJigs(ownerResponse)
}

const login = async() => {
  loading.value = true
  const token = await relayone.authBeta()
  const [payload, singature] = token.split('.')
  const data = JSON.parse(atob(payload))
  localStorage.setItem('paymail', data.paymail)
  paymail.value = data.paymail
  getRunOwner()
}

const replaceGop = (newGop) => {
  gopSelected.value = true
  currentGop.value = gopnikOptions.value.filter(option => option.value === newGop)[0]
}

const replacePreorder = (newpreOrder) => {
  preorderSelected.value = true
  currentPreorder.value = preorderOptions.value.filter(option => option.value === newpreOrder)[0]
}

export default {
  components: {
    Multiselect,
  },
  methods: {
    async redeemPreorder() {
      const ok = await this.$refs.confirmDialogue.show({
        title: 'Redeem pre-order?',
        message: 'Are you sure you want to redeem this pre-order? It cannot be undone. Send preorder to: gopnikz@relayx.io after redeeming.',
        okButton: 'Redeem Pre-order',
      })
      // If you throw an error, the method will terminate here unless you surround it wil try/catch
      if (ok) {
        const auth = getAuth()
        signInAnonymously(auth)
          .catch((error) => {
            const errorCode = error.code
            const errorMessage = error.message
            this.toast.failure('There was an error redeeming your preorder. Please reach out to us in our Discord for support.')
          })

        confirmPreorder().then(this.toast.success(`MetaGOP#${currentGop.value.value} redeemed successfully! Send ${currentPreorder.value.name} to Gopnikz@relayx.io within 5 minutes to confirm your pre-order. Your MetaGop will be squatting in your RelayX wallet in a few days.`, {
          position: 'top-right',
          timeout: false,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: true,
          closeButton: 'button',
          icon: true,
          rtl: false,
        }))
      }
    },
  },
}
</script>

<template>
  <div class="flex flex-col items-center text-center mx-auto">
    <p class="text-lg md:text-3xl text-purple-600">
      Gopnikz Pre-Order Redemption Center
    </p>
    <p class="text-md md:text-2xl text-yellow">
      (Squatters Only)
    </p>
    <div w-full md:max-w-2xl mt-4 text-lg md:text-2xl>
      <p>
        Comrades, the wait is over !
      </p>
      <p text-md md:text-lg>
        All Pre-sale owners can spend their NFT in order to gain any of their OG Gops a spot among the first 420 METAGOPS to exist*.  The redemption process will stay open throughout the month of May in order to give everyone time to decide & act on their claim.
      </p>

      <p v-if="!paymail" class="text-md md:text-2xl text-yellow mt-2 cursor-pointer" @click="login()">
        Login to Continue
      </p>
    </div>
    <!-- Redemption Container -->
    <div class="relative flex flex-col md:flex-row justiy-center items-center text-center h-full w-full mt-4 max-w-screen-xl h-120">
      <!-- 2d Gop Container -->
      <div class="w-full md:w-1/3 flex flex-col justify-center h-120">
        <img v-if="gopSelected" class="w-full" :src="currentGop.image">
        <p v-if="loading" class="text-md md:text-2xl text-yellow">
          Loading Gopnikz
        </p>
        <!-- Logged Out Gopnik -->
        <img v-if="!paymail" class="w-full" src="../assets/2dgopph.png">
        <a v-if="paymail !== null && !loading && !gopnikSelected && !gopnikOptions.length" target="_blank" href="https://relayx.com/market/GOP" class="text-md md:text-2xl text-yellow mt-1/2">
          No Gopnik in your wallet, buy one here
        </a>
        <div v-if="paymail !== null && !loading && !gopSelected && gopnikOptions.length" class="mt-1/2">
          <p class="text-md md:text-2xl text-yellow">
            No Gopnik Selected
          </p>
        </div>
        <Multiselect
          v-if="paymail && gopnikz && gopnikz.length"
          v-model="value"
          mode="single" placeholder="Select Gopnik"
          class="mt-auto"
          :search="true" track-by="name" label="name" :options="gopnikOptions" @select="replaceGop(value)"
          @clear="() => gopSelected = false"
        >
          <template #tag="{ option, handleTagRemove, disabled }">
            <div class="multiselect-tag is-user">
              <img :src="option.image">
              {{ option.name }}
              <i v-if="!disabled" @click.prevent @mousedown.prevent.stop="handleTagRemove(option, $event)" />
            </div>
          </template>

          <template #option="{ option }">
            <img class="user-image" :src="option.image"> {{ option.name }}
          </template>
        </Multiselect>
      </div>
      <!-- Pre-order Container -->
      <div class="w-full md:w-1/3 flex flex-col justify-center h-120 md:mx-8">
        <img v-if="preorderSelected" class="w-full" :src="currentPreorder.image">
        <p v-if="loading" class="text-md md:text-2xl text-yellow">
          Loading Pre-orders
        </p>
        <!-- Logged Out Gopnik -->
        <img v-if="!paymail" class="w-full" src="../assets/preorderph.gif">
        <a v-if="paymail !== null && !loading && !preorderSelected && !preorderOptions.length" target="_blank" href="https://relayx.com/market/f713af776e1dd115c614819bd22a4aba97eb0f642280c9a6d8a9b9515e45be77_o2" class="text-md md:text-2xl text-yellow mt-1/2">
          No Pre-orders in your wallet, buy one here
        </a>

        <p v-if="paymail !== null && !loading && !preorderSelected && preorderOptions.length" class="text-md md:text-2xl text-yellow mt-1/2">
          No Pre-order Selected
        </p>

        <Multiselect
          v-if="paymail && preorders && preorders.length"
          v-model="value" class="mt-auto" mode="single" placeholder="Select Preorder"
          :search="true" track-by="name" label="name" :options="preorderOptions" @select="replacePreorder(value)"
          @clear="() => preorderSelected = false"
        >
          <template #tag="{ option, handleTagRemove, disabled }">
            <div class="multiselect-tag is-user">
              <img :src="option.image">
              {{ option.name }}
              <i v-if="!disabled" @click.prevent @mousedown.prevent.stop="handleTagRemove(option, $event)" />
            </div>
          </template>

          <template #option="{ option }">
            <img class="user-image" :src="option.image"> {{ option.name }}
          </template>
        </Multiselect>
      </div>
      <!-- 3D Gop Container -->
      <div class="w-full md:w-1/3 flex flex-col justify-center h-120">
        <img v-if="!paymail" class="w-full" src="../assets/3dgopph.gif">
        <img v-else class="w-full" src="../assets/3dselectplace.png">
        <button
          v-if="paymail"
          :disabled="!gopSelected || !preorderSelected" class="bg-purple-700 disabled:cursor-not-allowed disabled:opacity-60 px-9 py-3 text-white text-2xl rounded-lg hover:bg-purple-400 border-purple-700"
          @click="redeemPreorder()"
        >
          Redeem Pre-Order
        </button>
      </div>
    </div>
    <div w-full md:max-w-2xl mt-2 text-lg md:text-2xl>
      <p text-md md:text-lg>
        *all remaining 2580 OG Gops will still get their corresponding METAGOP airdropped at a later time.
      </p>
    </div>
    <div v-if="confirmedPreorders.length" w-full md:max-w-2xl text-lg md:text-2xl mt-2 flex flex-col items-center justify-center>
      <p text-yellow>
        Confirmed Pre-orders
      </p>
      <div v-for="preorder in confirmedPreorders" :key="preorder.value" class="multiselect-tag is-user w-fit flex justify-center items-center border-2 mt-2">
        <img :src="preorder.gopnik.image">
        {{ preorder.gopnik.name }}
        <p ml-2 text-yellow>
          using Pre-order #{{ preorder.preorder.value }}
        </p>
      </div>

      <p v-if="!paymail" class="text-md md:text-2xl text-yellow mt-2 cursor-pointer" @click="login()">
        Login to Continue
      </p>
    </div>
    <!-- RelayX Container -->
    <div class="absolute top-0 right-2">
      <button
        class="bg-purple-700 px-4 py-2 text-white rounded-lg hover:bg-purple-400 border-purple-700"
        @click="login()"
      >
        RelayX Login
      </button>
      <div id="relayx-button" />
      <p class="text-yellow">
        {{ paymail }}
      </p>
    </div>

    <confirm-dialogue ref="confirmDialogue" />
  </div>
</template>

<style >
@import '../assets/base.css';
</style>

<style>
header {
  line-height: 1.5;
}

.delete-btn {
    padding: 0.5em 1em;
    background-color: #eccfc9;
    color: #c5391a;
    border: 2px solid #ea3f1b;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.example {
  background: #ffffff;
  margin: 20px;
  border-color: #e7e7e7;
  padding: 40px;
}

.multiselect-options {
  font-family: Courier, Courier New, Lucida Console, Monaco, Consolas;
  /* background: #000000; */
  color: #812c6c;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  /* width: 100%; */
  box-sizing: border-box;
  font-size: 16px;
}

.output {
  font-family: Courier, Courier New, Lucida Console, Monaco, Consolas;
  background: #000000;
  color: #812c6c;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.multiselect-single-label-text {
  font-family: Courier, Courier New, Lucida Console, Monaco, Consolas;
  /* background: #000000; */
  color: #812c6c;
  padding: 20px;
  display: inline-block;
  /* width: 100%; */
  box-sizing: border-box;
  font-size: 16px;
}

.multiselect-tag.is-user {
  padding: 5px 8px;
  border-radius: 22px;
  background: #35495e;
  margin: 3px 3px 8px;
}

.multiselect-tag.is-user img {
  width: 18px;
  border-radius: 50%;
  height: 18px;
  margin-right: 8px;
  border: 2px solid #ffffffbf;
}

.multiselect-tag.is-user i:before {
  color: #ffffff;
  border-radius: 50%;
  ;
}

.user-image {
  margin: 0 6px 0 0;
  border-radius: 50%;
  height: 22px;
}

.character-option-icon {
  margin: 0 6px 0 0;
  height: 22px;
}

.character-label-icon {
  margin: 0 6px 0 0;
  height: 26px;
}
</style>

<style src="@vueform/multiselect/themes/default.css">
</style>
